*{
    font-family: 'Microsoft YaHei';
}

.glyphicon{
    margin-right: 6px;
}

body {
    overflow:hidden;
}

/*登录页*/
.login-area, .register-area{
    margin-top:100px;
}

/*导航条*/
.navbar-brand{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left:50px;
    color:#1296DB !important;
}
.navbar-nav .dropdown-toggle img{
    width: 20px;
}

/*home.html*/
.filetype_area a img{
    width: 20px;
    margin-right: 6px;
}
.filelist_area .menus{
    overflow:hidden;
    padding:3px 0;
}
.filelist_area .menus div{
    padding-left:0;
    padding-right:0;
}
.filelist_area .menus div #searchBtn{
    cursor:pointer;
}
.filelist_area .menus div #searchBtn:hover{
    background-color:white;
}
.filelist_area .menus div #multiDelBtn{
    margin-left:20px;
    display:none;
}
.filelist_area .current{
    overflow:hidden;
    font-size:12px;
    padding:5px 0;
}
.filelist_area .current .path *{
    margin-right:5px;
}
.filelists{
    overflow:auto;
}
.filelists table{
    width:100%;
    table-layout:fixed;
}
.filelists table tbody{
    font-size:12px;
}
.filelists table tbody a{
    text-decoration:none;
}
.filelists table tbody tr:hover{
    background-color:#F6FAFF;
    border-color:#DAEBFE;
}
.filelists table tbody tr td{
    line-height:2;
}
.filelists table tbody tr td.empty img{
    margin: 0 auto;
    display: block;
}
.filelists table tbody tr td.empty p{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #1296db;
}
.filelists table tbody tr td:first-child{
    line-height:0;
}
.filelists table tbody tr td:first-child .cbdiv{
    width:2.5%;
    box-sizing:border-box;
    display:inline-block;
    position:relative;
}
.filelists table tbody tr td:first-child .cbdiv input[type=checkbox]{
    position:absolute;
    top:-25px;
}
.filelists table tbody tr td:first-child .fileinfo{
    overflow: hidden;
    width:75%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    box-sizing:border-box;
}
.filelists table tbody tr td:first-child .fileinfo img{
    height:30px;
    margin-left: 3px;
}
.filelists table tbody tr td:first-child .fileinfo .filename{
    margin-left:5px;
}
.filelists table tbody tr td:first-child .fileinfo .filename input{
    outline: none;
    border:1px solid gray;
    border-radius: 2px;
    padding:2px;
}
.filelists table tbody tr td:first-child .fileinfo .filename input:focus{
    border-color:black;
}
.filelists table tbody tr td:first-child .fileinfo .filename img{
    width: 20px;
    height:21px;
    border-radius: 50%;
    margin: -1px 3px 4px 3px;
    cursor:pointer;
}
.filelists table tbody tr td:first-child .fileinfo .filename img:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.filelists table tbody tr td:first-child .operate{
    width:20%;
    box-sizing:border-box;
    padding-top:4px;
    display:none;
}
.filelists table tbody tr td:first-child .operate a{
    display:inline-block;
    width:30%;
}
.filelists table tbody tr td:first-child .operate a img:hover{
    background-color:white;
}
.filelists table tbody tr td:first-child .operate a img{
    width:20px;
}

#uploader_container{
    border-radius:5px;
    border:1px solid #808080;
}